
/*-------------------------------------------------
MISC
-------------------------------------------------*/

img{
    border:0;    
}

div{
	-moz-box-sizing: border-box;	
}

html, body{ 
	color: black;
	background:#f1f1f1;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size:12px;
	margin: 0;
	padding: 0;
}

a	{color:#1d74c4; text-decoration:none; } 
a:hover {color:#1d74c4;}

a.cancel{color:#FF0000;font-family:verdana;}

.odd  {background-color:#F1F5FA;}
.even {background-color:#FFF;}
.lef 	{float:left;}
.right{float:right;}

h1{	
	color:#5d8db0; 
	width:100%; 
	background:#f6f6f6;	
	font-weight:bold;		
	font-family:Verdana;	
	font-size:14px; 
	padding:10px 0px 10px 20px;	
}

/*-------------------------------------------------
MESSAGES
-------------------------------------------------*/
.message {
	padding-bottom: 15px;
}

.flash_notice {
  padding:5px;	
	color: #333;  
	background: #efe;
	border: solid 1px #bd7;  
}

.flash_error{
   padding:5px;	
   color:#CC0000;
   background-color:#f19d9d;
   border:solid 1px #aa0f0f;
   margin:0 0 10px 0;
   width:100%;  
}

.flash_warning{
   padding:5px;	
   color:#c69000;
   background-color:#f8fac9;
   border:solid 1px #fce445;    
   margin:0 0 10px 0;
   width:100%;     
}

.input_error{
	display:table;
	font-size:10px;
	color:#ff0000;
	background:#ffffcc;
}

/*-------------------------------------------------
JAVASCRIPT DISABLED NOTIFICATION
-------------------------------------------------*/

div.javascript_disabled_notification {
  width: 520px;
  margin: 30px auto;
  background: #fff;
}

div.javascript_disabled_notification div.inner {
  padding: 20px;
  text-align: left;
}

div.javascript_disabled_notification h1 {
  font-size: 18px;
  margin: 0 0 18px 0;
}

div.javascript_disabled_notification p {
  margin: 0 0 14px 0;
  font-size: 14px;
  line-height: 140%;
}
