<h3>Forgot Your Password?</h3>

<% form_tag(url_for(:action => :create), {:class => 'MainForm'}) do -%>

	<%= label_tag 'email', "Enter your email address" %>
	<%= text_field_tag :email %>

	<p><%= submit_tag 'Reset my password' %></p>
<% end -%>

<% content_for(:head) do %>
	<script type='text/javascript'>
	  document.getElementById('email').focus()
	</script>
<% end -%>